<div id="div-form">
    <form id="form-pessoa">
        <label for="nome">Nome*</label>
        <input type="text" name="nome" id="nome" class="elem-form-01" required  maxlength="60" [(ngModel)]="nome" placeholder="Seu nome">

        <label for="email">Email*</label>
        <input type="text" name="email" id="email" class="elem-form-01" required  maxlength="60" [(ngModel)]="email" placeholder="Seu email">

        <label for="cpf">CPF*</label>
        <input type="number" name="cpf" id="cpf" class="elem-form-02" required  max="99999999999" [(ngModel)]="cpf" placeholder="Seu cpf">

        <label for="dataNascimento">Data Nascimento*</label>
        <input type="date" name="dataNascimento" id="dataNascimento" class="elem-form-02" [(ngModel)]="dataNascimento" required>

        <label for="uf">UF*</label>
        <select name="uf" id="uf" class="elem-form-02" [(ngModel)]="uf">
            <option value="">UF</option>
            <option value="SE">SE</option>
            <option value="BA">BA</option>
            <option value="AL">AL</option>
        </select>

        <label for="cidade">Cidade*</label>
        <select name="cidade" id="cidade" class="elem-form-02" [(ngModel)]="cidade">
            <option value="">Cidade</option>
            <option value="Aracaju">Aracaju</option>
            <option value="São Cristovão">São Cristovão</option>
            <option value="Barra dos Coqueiros">Barra dos Coqueiros</option>
        </select>

        <div id="div-btns">
            <button type="button" id="btnSalvar" (click)="save()">{{edit ? 'Alterar' : 'Salvar'}}</button>
            <button type="reset" id="btnLimpar" (click)="limparAtributos()">Limpar</button>
        </div>
    </form>
</div>