#div-form{
    width: 100%;
    height: 100px;
    margin: 20px auto;
    color: var(--primaria);
    padding-left: 10px;
}

label{
    display: block;
    padding: 20px 0px;
    text-transform: uppercase;
}

input, select{
    height: 40px;
    padding: 8px;
    font-size: 15px;
}

#nome, #email, #cpf{
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 8px 4px;
    background: transparent;
}

.elem-form-01{
    width: 89%;
}

#cpf{
    width: 45%;
}

#uf{
    width: 10%;
}

#cidade{
    width: 40%;
}

.elem-form-02{
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 8px 4px;
    background: transparent;
}

#div-btns{
    width: 100%;
    height: 80px;
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 21%;
    height: 45px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: var(--branca);
    transition: opacity 0.5s;
    border-radius: 5px;
}

button:hover{
    opacity: 0.5;
}

#btnSalvar{
    margin-right: 15px;
    background-color: var(--botao01);
}

#btnLimpar{
    margin-left: 15px;
    background-color: var(--botao02);
}