@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

:root{
    --primaria: #1743d4;
    --secundaria: #1b7bdb;
    --branca: #ffffff;
    --botao01: #ff6600;
    --botao02: #1d4ed8;
}